/* =============== 문의 완료 페이지 ============ */

.end-info-wrap {
  max-width: 144rem;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-img-box {
  width: 300px;
}

.end-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.end-text-box {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.end-top {
  margin: 0.2rem 0;
}

.end-middle {
  margin-bottom: 4rem;
  color: var(--text-gray);
}

.end-middle span {
  display: inline-block;
  animation: bounce 1s ease infinite;
  color: var(--main-pink);
  font-weight: 600;
}

.end-btn {
  display: inline-block;
  padding: 1rem 3.6rem;
  background-color: var(--main-navy);
  color: var(--text-white);
  border-radius: 4px;
}

/* =============== 문의 완료 페이지 ============ */
@media (max-width: 768px) {
  .end-end-wrap {
    padding: 2rem;
    max-width: 100%;
  }

  .end-inner {
    width: 90%;
  }
  .end-img-box {
    width: 200px;
  }
}

/* 애니메이션 */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
